/* https://www.canva.com/colors/color-palettes/rosy-flamingo/ */

$backgroundColor1: lightgrey;
$backgroundColor2: rgba(255, 255, 255, 0.8);
$navborderColor:rgba(202, 204, 202, 0.6);
$navulbackgroundColor:#DEB3AD;
$mainColor: rgb(255, 255, 255);
$sectionColor: rgb(212, 213, 216);
$footerbackgroundColor:rgba(220,174,150, 0.4);
$loginbackgroundColor:rgba(220,174,150, 0.3);
$mouseoverColor: #774A62;

$color1: #8C4F2F;
$color2: #AE623A;
$color3: #C57951;
$color4: rgb(102, 46, 6);
$color5: #E8B4B8;
$color6: #A49393;
$color7: #67595E;